* { 
    margin: 0;
    padding: 0;
  
  }
  
  
  .section-container {
    margin: 0 auto;
    max-width: 1360px;
  }
  
  .section-container > a {
    display: block;
    padding: 20px 0;
    text-decoration: none;
    font-weight: bold;
  }
  
  h1 {
      font-size:2em;
      color: #FFC600;
      text-align: center;
  }
  
  nav{
    background-image:linear-gradient(#ffc600,#4C005A);
    background-size: cover;
    height: 100%;
    width: 100%;
  }
  
  #Logo{
    display: flex;
    width: 20%;
    height: 20%;
  }
  
  nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    margin: 0;
  }
  
  nav a{
    text-decoration: none;
    color: #4C005A;
    margin: 0;
    font-size: 90%
  }
  
  nav a:hover {
    background-color: #4C005A;
    color: #ffc600;
    margin: 0;
    font-weight: bold
  }
  
  /*#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                                  FIM - NAV
  $$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
#Cadastro {
    position: absolute;
    width: 88%;   
    padding: 2% 6% 60px 6%;
    background: #4C005A;
}

.content{
    width: 100%;
    min-height: 50%;    
    margin: 0 auto;
    position: relative;   
}

h1{
    color: #FFC600;
    padding: 2px 0 10px 0;
    text-align: center;
}

label{
    color: #FFC600;
    position: relative
}

input:not([type="checkbox"]){
    width: 100%;
    margin-top: 2.5%;
    padding: 0.5%;    
    border: 1px solid #FFC600;
    text-align: center;
}

input[type="submit"]{
    width: 20%;
    cursor: pointer; 
    color: #4C005A; 
    background: #FFC600;
    text-align: center;
    margin: 5% 0% 0% 40.8%
}

.link{
    color: #ffc600;
    height: 100%;
    text-align: center;
}

.link a {
    color: #FFC600;
}

#termos {
    text-align: end;
    margin: 3% 0% 0% 0%
}

#loga {
    margin: 3% 0% 0% 0%
}


#enviar{
    width: 25%;
    cursor: pointer; 
    color: #4C005A; 
    background: #FFC600;
    text-align: center;
    margin: 5% 0% 5% 38%;
}


#enviar a{
    text-decoration: none;
    font-size: 1.5em
  }

/*#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                                footer
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

footer{
  background-image:linear-gradient(#4C005A,#FFC600);
  text-align: center
}
#Logo-footer{
  width: 20%;
  height: 20%;
  margin: 10% 0% 0% 0%;
}