* { 
  margin: 0;
  padding: 0;

}
@font-face {
  font-family: 'bayou_cowboyregular';
  src: url(Bayoc/bayoc___-webfont.woff2) format('woff2'),
       url(Bayoc/bayoc___-webfont.woff) format('woff');
  font-weight: normal;
  font-style: normal;

}

.section-container {
  margin: 0 auto;
  max-width: 1360px;
}

.section-container > a {
  display: block;
  padding: 20px 0;
  text-decoration: none;
  font-weight: bold;
}

h1 {
    font-size:2em;
    color: #FFC600;
    text-align: center;
    font-family: 'bayou_cowboyregular'
}

nav{
  background-image:linear-gradient(#ffc600,#4C005A);
  background-size: cover;
  height: 100%;
  width: 100%;
}

#Logo{
  display: flex;
  width: 20%;
  height: 20%;
}

nav ul{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  margin: 0;
}

nav a{
  text-decoration: none;
  color: #4C005A;
  margin: 0;
  font-size: 100%
}

nav a.bt-common-menu.active{
  text-decoration: none;
  color: #4C005A;
  font-size: 100%;
  font-weight: bold
}


nav a:hover {
  color: #ffc600;
  margin: 0;
  font-weight: bold
}

nav #bt-mobile-menu{
  display: none
}

@media (max-width: 625px) {

  h1 {
    padding: 3em 0 0 0;
}

nav #bt-mobile-menu {
    display: block;
}

nav .bt-common-menu {
    display: none;
}

nav .bt-common-menu.active {
    display: block;
}

nav ul.mobile-mode {
    display: flex;
    flex-direction: column;
}

  nav a {
    color: #FFC600;
  }
  nav a.active {
    color: #FFC600;
  }
  img#user {
    display: none
  }

  #enviar p{
    font-size: 80%
  }
}


/*#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                                FIM - NAV
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/
main{
  background: #4C005A
}

#orcamento {
    width: 84%; 
    padding: 2% 6% 60px 6%;
    background: #4C005A;
}

.content{
  width: 100%;
  min-height: 50%;    
  margin: 0 auto;
  position: relative;   
}

h2{
    color: #FFC600;
    padding: 2px 0 10px 0;
    text-align: center;
    background: #4C005A
}

label{
    color: #FFC600;
    position: relative
}

input:not([type="checkbox"]){
    width: 100%;
    margin: 0% 0 5% 0;
    padding: 0.5%;    
    border: 1px solid #FFC600;
    text-align: center;
}

#enviar{
    width: 25%;
    cursor: pointer; 
    color: #4C005A; 
    background: #FFC600;
    text-align: center;
    margin: 5% 0% 0% 40%;
}

#enviar a{
  text-decoration: none;
  font-size: 1.5em
}

#orcamento p{
    color: #FFC600;
    margin: 2% 0 0 0
}

#equipamentos{
    margin: 5% 0 0 0
}

#valor{
    margin: 5% 0 0 50%;
    width: 50%
}
#valor p{
    text-align: right
}

/*#$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$
                                                footer
$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

footer{
  background-image:linear-gradient(#4C005A,#FFC600);
  text-align: center
}
#Logo-footer{
  width: 20%;
  height: 20%;
  margin: 10% 0% 0% 0%;
}